
#articles {
  .container {
    padding: 180px 20px;
    text-align: center;

    h1 {
      margin-bottom: 30px;
    }
  }

  .article-item {
    margin-bottom: 70px;

    h4 {
      font-size: 1.5em;
      margin-bottom: 8px;
      font-weight: bold;
      color: hotpink;
    }

    h3 {
      font-size: 2em;
      margin-bottom: 10px;
    }

    a {
      display: block;
      text-decoration: none;
      color: #000;

      &:hover {
        color: mediumpurple;
      }
    }
  }
}
