.banner {
  background: rgba(255,255,255,.5);
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: calc(100vh - 74px);
  
  .left {
    width: 60%;

    .embed {
      width: 70%;
      margin: 0 auto;

      &.song {
        margin-bottom: 30px;
      }
    }
  }

  .right {
    width: 40%;
  }

  a.main-link {
    text-decoration: none;
  }

  p {
    color: black;
    margin: 3px auto;

    &.maintext {
      font-size: 2em;
      margin-bottom: 12px;
    }

    &.subtext {
      font-size: 2em;
      margin-bottom: 12px;
    }
  }
}
