#circle-orbit-container {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

.orbit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  .image-wrapper {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    opacity: .9;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      position: absolute;
      z-index: 999;
    }
  }
}

#inner-inner-orbit {
  border-radius: 50%;
  width: 42%;
  padding-bottom: 44%;
  border: 2px rgba(169,119,172,.5) solid;
  border-radius: 100%;
  animation: spin-right 35s linear infinite;

  .image-wrapper {
    animation: xfade 16s 12s infinite;
  }
}

#inner-orbit {
  top: 0;
  border-radius: 50%;
  width: 44%;
  padding-bottom: 42%;
  border: 2px rgba(141,156,199,.5) solid;
  border-radius: 100%;
  animation: spin-right 40s linear infinite reverse;

  .image-wrapper {
    animation: xfade 16s 8s infinite;
  }
}

#middle-orbit {
  top: 0;
  border-radius: 50%;
  width: 43%;
  padding-bottom: 46%;
  border: 2px rgba(255,169,208,.5) solid;
  border-radius: 100%;
  animation: spin-right 45s linear infinite;
  .image-wrapper {
    animation: xfade 16s 4s infinite;
  }
}

#outer-orbit {
  top: 0;
  border-radius: 50%;
  width: 42%;
  padding-bottom: 42%;
  border: 2px rgba(159,160,206,.5) solid;
  border-radius: 100%;
  animation: spin-right 50s linear infinite reverse;
  .image-wrapper {
    animation: xfade 16s 2s infinite;
  }
}


@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:.5;
  }
  92% {
    opacity:0;
  }
}
