.main-wrapper {
  margin-top: 74px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  .container {
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  .item-wrapper {
    width: 100%;

    .item {
      width: 100%;
    }
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 15px;
  position: relative;
}

h2:before {
  content: "~~~~~~";
  font-size: .7em;
  font-weight: 100;
  color: hotpink;
  width: 100%;
  position: absolute;
  top: 14px;
  left: -7px;
  overflow: hidden;
}

h3,
h4,
h5,
p,
a {
  font-weight: 300;
}
