.main-wrapper {
  margin-top: 74px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // height: calc(200vh - 80px);

  .container {
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  .item-wrapper {
    width: 100%;

    .item {
      width: 100%;
    }
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-style: italic;
}

h3,h4,h5, p, a {
  font-weight: 300;
}
