#shows {
  .container {
    padding: 180px 20px;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  .show-item {
    text-decoration: none;
    color: black !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    text-align: left;

    p {
      width: 25%;
    }

    &.link:hover p {
      color: mediumpurple !important;
    }
  }

  .show-wrapper {
    width: 100%;

    h1 {
      margin-bottom: 30px;
    }
  }
}
