
#listen {
  .container {
    padding: 80px 20px 20px 20px;
    @media screen and (min-width: 768px) {
      padding: 120px 20px;
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  h2 {
    margin-bottom: 10px;
  }
  .all-tracks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .track {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 48%;
      }
    }
  }
}
